
/**** faq-typeography ****/

* {
  font-family: 'work sans' ,sans-serif;
}

h2 {
  font-size: 32px;
  color: #301534;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

p {
  margin: 0px 0px ;
  font-size: 14px;
  font-weight: 600;
}

/***** faq-container *****/

body {
  margin: 0;
  background-color:#F8EEFF;
}

header {
  width: fit-content;
}

.faq-container {
  bottom: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.faq-card {
  padding: 24px;
  border-radius: 8px;
  position: absolute;
  background-color: #fff;
  width: 75%;
  height: auto;
}

.main-content {

  gap: 24px;
  display: flex;
}

.question-panel{
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border: 0;
  margin-bottom: 20px;
}

.question-panel h3 {
  font-weight: 600;
  width: 75%;
  line-height: 20px;
}

.icon-minus {
  display: block;
  transition: 2s;
}


.icon-plus{display: none;}


hr {
  color: gray;
}

.answer p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #8B6990;
  font-weight: 400;
  line-height: 21px;
}
